<!DOCTYPE html>
<html lang="en">

<head>
    <title>AdminLTE 3 | Dashboard 2</title>
    <!-- overlayScrollbars -->
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    
    <span th:replace="~{layouts/head :: head}"></span>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <span th:replace="~{layouts/header :: header}"></span>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <span th:replace="~{layouts/sidebar :: sidebar}"></span>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Danh sách Users</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Danh sách Users</li>
                        </ol>
                    </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                          <!-- general form elements -->
                          <div class="card card-primary">
                            <div class="card-header">
                              <h3 class="card-title">Create User</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form"
                              th:action="@{/users/save}"
                              th:object="${user}"
                              method="post"
                            >
                              <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name"
                                    th:field="*{name}">
                                  </div>
                                  <p th:errors="*{name}" 
                                  style="color: red;" 
                                  th:if="${#fields.hasErrors('name')}"
                              ></p>
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" 
                                  name="email"
                                  th:field="*{email}"   
                                  class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                                <p th:errors="*{email}" 
                                style="color: red;" 
                                th:if="${#fields.hasErrors('email')}"
                            ></p>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" 
                                  name="password"
                                  th:field="*{password}"  
                                  class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <p th:errors="*{password}" 
                                style="color: red;" 
                                th:if="${#fields.hasErrors('password')}"
                            ></p>
                                
                                <div class="form-group">
                                    <label for="ConfirmPassword">Confirm Password</label>
                                    <input type="password"
                                    name="confirm_password"
                                    th:field="*{confirm_password}"  
                                    class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
                                </div>
                                <p 
                                style="color: red;" 
                                th:if="${#fields.hasErrors('confirm_password')}"
                                th:errors="*{confirm_password}"
                            ></p>
                              </div>
                              <!-- /.card-body -->
              
                              <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </div>
                            </form>
                          </div>
                          <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
         <!-- Control sidebar content goes here -->
     </aside>
     <!-- /.control-sidebar -->

     <!-- Main Footer -->
     <span th:replace="~{layouts/footer :: footer}"></span>
 </div>
 <!-- ./wrapper -->

 <!-- REQUIRED SCRIPTS -->
 <span th:replace="~{layouts/script :: script}"></span>
 
 <!-- overlayScrollbars -->
 <script th:src="@{plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
 <!-- PAGE PLUGINS -->
 <!-- jQuery Mapael -->
 <script th:src="@{plugins/jquery-mousewheel/jquery.mousewheel.js}"></script>
 <script th:src="@{plugins/raphael/raphael.min.js}"></script>
 <script th:src="@{plugins/jquery-mapael/jquery.mapael.min.js}"></script>
 <script th:src="@{plugins/jquery-mapael/maps/usa_states.min.js}"></script>
 <!-- ChartJS -->
 <script th:src="@{/plugins/chart.js/Chart.min.js}"></script>
 <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
 <script th:src="@{/dist/js/pages/dashboard2.js}"></script>